.header{
    margin:auto;
    padding:15%;
}
.header-content-inner {
    position: relative;
    max-height: 100%;
    max-width: 75%;
    margin:auto;
    text-align:center;
}
#background{
    background-image: url("luchador-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100%;
    max-width:100%;
    margin:auto;
}
#description{
    margin:auto;
    padding:15%;
    background-color:red;
}
.container{
    text-align:center;
    border:20px;
    padding:50px;
}
.col-lg-8 col-lg-offset-2 text-center{
    text-align: center;
    padding:50px;
}
p{
    color:green;
}
h1{
    color:blue;
}